h1{
    font-weight: normal;
}
h2{
    font-weight: normal;
}
h3{
    font-family: 'Times New Roman', Times, serif;
}
p{
    text-align: justify;
    text-indent: 20px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
a:active{
    color: yellow;
}
ul{
    list-style: none;
}
.fi{
    border: solid 2px gray;
    float: right;
    padding: 5px;
    width: 250px;
}
